.contactus-form {
    background-color: #c1c1c1;
}

.Submit-btn {
    border-left: 1px solid #fff;
    border-top: 1px solid #fff;
    border-right: 1px solid #848484;
    border-bottom: 1px solid #848484;
    background-color: transparent;
    padding: 3px 15px 3px 15px;
    background: #a8a8a8;
    margin: 0 auto;
    display: block;
}

.form-group{
    display: flex;
    flex-direction: column;
    padding-top: 0.5%;
    text-align: center;
    padding-left: 40%;
    padding-right: 40%;
}