.content{
    margin: auto;
    box-sizing: border-box;
    background-color: #c1c1c1;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    column-gap: 10px;
    row-gap: 15px;
    justify-items: center;
    align-items: center;
}

.prodlist{
    display: flex;
    flex-wrap: wrap;
}

.prodCard{
    width: 50%;
    margin: 1%;
    border: 1px solid black;
    text-decoration: none;
}

.prodCardP{
    overflow: hidden;
    text-align: center;
    color: black;
}

.prodimg{
    height: 220px;
    width: 100%;
    object-fit: cover;
}

@media screen and (max-width: 900px) {
    .prodCard{
        width: 47%;
    }
}

@media screen and (max-width: 450px) {
    .prodCard{
        width: 100%;
    }
}